.container{
    width: 90%;
    margin: auto;
}
.foods-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 15px;
    margin-top: 25px;
}
.foods{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

.cart-summery{
    background-color: darkgray;
    border-radius: 10px;
}